@import "tailwindcss";

@layer base {
  :root {
    @apply text-gray-100 bg-gray-900 font-sans;
  }

  body {
    @apply min-h-screen m-0 bg-gray-900;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s ease-in-out forwards;
}
